$color1: #feffff;
$color2: #def2f1;
$color3: #3aafa9;
$color4: #2b7a78;
$color5: #17252a;

* {
    margin: 0;
    padding: 0;
    font-family: 'Eczar', serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color2;
}

/* width */
::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color5;
    border-radius: 10px;
}

h1 {
    font-size: 4rem;
    line-height: 4.6rem;
    color: $color5;
}

a {
    color: $color5;
    text-decoration: none;

    &:hover {
        color: #2b7a78;
    }
}

.container {
    display: flex;
    // justify-content: center;
    max-width: 40rem;
    margin: auto;
    background-color: $color1;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

.full {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

footer {
    position: fixed;
    background-color: $color4;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.6rem;
    text-align: center;
    color: $color1;

    p {
        font-size: 0.6rem;
    }

    a {
        text-decoration: none;
        color: $color1;
        &:hover {
            color: $color3;
        }
    }
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    box-sizing: content-box;
    align-self: center;
    gap: 1rem;
    width: 100%;
}

input,
select {
    border: 1px solid $color2;
    border-radius: 0.2rem;
    box-shadow: none;
    padding: 0.4rem;
    background-color: $color2;
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: $color1;
    }
    // &:not(:last-child) {
    //     margin-bottom: 1rem;
    // }
}

.btn {
    border-radius: 0.2rem;
    border: none;
    padding: 0.4rem 0.8rem;
    background-color: $color5;
    color: $color1;
    &:hover {
        background-color: $color4;
        cursor: pointer;
    }
}

.btn-outlined {
    border-radius: 0.2rem;
    border: 1px solid $color5;
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    color: $color5;
    &:hover {
        background-color: $color2;
        cursor: pointer;
    }
}

.grid-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.span-2 {
    grid-column: span 2;
}

.balance {
    border-radius: 0.4rem;
    min-height: 12rem;
    min-width: 10rem;
    padding: 1rem;
    line-height: 2rem;
    display: grid;
    align-content: center;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    h4 {
        color: $color2;
        font-weight: normal;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        align-content: center;
        height: 100%;
        align-self: center;
    }

    &.mod {
        background: rgba(0, 0, 0, 0.9);
    }
}

.hero {
    background-color: $color3;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    background-image: url('./assets/seamless-grainy-texture-background_1409-2115.jpg');
    background-blend-mode: darken;

    span {
        font-weight: normal;
        color: $color1;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: left;
}

tr {
    border: 1px solid $color4;
    border-radius: 1rem;
    &:nth-child(even) {
        background-color: $color2;
    }

    &:hover:not(.heading) {
        background-color: $color3;
    }
}

td,
th {
    padding: 0.6rem;
}

.actions {
    padding: 0.2rem;
    border-radius: 0.2rem;
    text-decoration: none;
    color: $color5;
    &:hover {
        cursor: pointer;
        background-color: $color2;
    }
}

.btn2 {
    background-color: $color3;
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;

    &:hover {
        background-color: $color5;
        color: $color1;
        cursor: pointer;
    }

    &.mod {
        background-color: $color1;
        &:hover {
            background-color: $color4;
        }
    }
}

.btn3 {
    background-color: transparent;
    border: 1px solid $color4;
    padding: 0.4rem;
    border-radius: 0.2rem;

    &:hover {
        background-color: $color4;
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92);
}

.column {
    display: grid;
    justify-items: start;
    gap: 1rem;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color4;
    display: flex;
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 0.2rem;

    i {
        color: $color1;
    }

    &:hover {
        background-color: #17252a;
        cursor: pointer;
    }
}

.login-form {
    background-color: $color1;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    margin: 2rem auto;
    gap: 0.4rem;
    border-radius: 0.2rem;
    padding: 2.4rem 2rem;

    h2 {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border-bottom: 1px solid $color2;
    }

    label {
        align-self: flex-start;
        // &:nth-child(3) {
        //     margin-top: 1rem;
        // }
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    a,
    p {
        font-size: 0.6rem;
        padding-top: 0.4rem;
        cursor: pointer;
    }
}

.auth {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    width: 32rem;
}

.present {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    i {
        font-size: 4rem;
        color: $color4;
    }
}

.sign-up {
    background-color: $color4;
}

.signout-modal {
    position: absolute;
    top: 0;
    right: 1rem;
    margin: 2rem 0;
    z-index: 10;
    min-height: 2rem;
    max-height: 6rem;
    width: 8rem;
}

.card-amount {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    color: $color5;
    border: 1px solid $color5;
    border-radius: 0.4rem;

    &:hover {
        background-color: $color3;
    }

    h4 {
        color: $color5;
        padding-top: 0.4rem;
    }

    h2 {
        padding-top: 0.4rem;
        border-top: 1px solid $color5;
        width: 100%;
    }

    &.mod {
        background-color: $color2;
        &:hover {
            background-color: $color1;
        }
    }

    &.mod2 {
        border: 1px solid $color2;
        color: $color1;

        h4 {
            color: $color1;
        }

        h2 {
            border-top: 1px solid $color1;
        }

        &:hover {
            background-color: $color4;
        }
    }
}
