$color: (
    1: #feffff,
    2: #def2f1,
    3: #3aafa9,
    4: #2b7a78,
    5: #17252a,
) !default;

$screen: (
    'sm': '640px',
    'md': '768px',
    'lg': '1024px',
    'xl': '1280px',
    '2xl': '1536px',
) !default;

@mixin flex($direction: row, $justify, $items, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    gap: $gap;
}

@mixin media($screen: map-get($screen, 'sm')) {
    @media (max-width: $screen) {
        @content;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: map-get($color, 5);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Eczar', serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: map-get($color, 2);
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
    line-height: 4.6rem;
    color: map-get($color, 5);

    @include media {
        font-size: 3rem;
        line-height: 3.2rem;
        box-sizing: border-box;
    }
}

a {
    color: map-get($color, 5);
    text-decoration: none;

    &:hover {
        color: #2b7a78;
    }
}

.container {
    display: flex;
    max-width: 40rem;
    margin: auto;
    background-color: map-get($color, 1);
    padding: 1rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    overflow-x: hidden;

    &.sidebar {
        margin-bottom: auto;
    }

    @include media(map-get($screen, sm)) {
        margin: 1rem;
        box-sizing: border-box;
    }
}

.full {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    box-sizing: border-box;

    @include media() {
        flex-wrap: wrap;
        box-sizing: border-box;
    }
}

footer {
    position: fixed;
    background-color: map-get($color, 4);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.6rem;
    text-align: center;
    color: map-get($color, 1);
    width: 100%;
    box-sizing: border-box;

    p {
        font-size: 0.6rem;
    }

    a {
        text-decoration: none;
        color: map-get($color, 1);
        &:hover {
            color: map-get($color, 3);
        }
    }
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    box-sizing: border-box;
    align-self: center;
    gap: 1rem;

    @include media {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        box-sizing: border-box;
    }
}

input,
select {
    border: 1px solid map-get($color, 2);
    border-radius: 0.2rem;
    box-shadow: none;
    padding: 0.6rem 1.2rem;
    background-color: map-get($color, 2);
    &:focus {
        box-shadow: none;
        outline: 0;
        background-color: map-get($color, 1);
    }

    @include media {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        box-sizing: border-box;
    }
}

.btn {
    border-radius: 0.2rem;
    border: none;
    padding: 0.4rem 0.8rem;
    background-color: map-get($color, 5);
    color: map-get($color, 1);
    &:hover {
        background-color: map-get($color, 4);
        cursor: pointer;
    }

    @include media() {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        box-sizing: border-box;
    }
}

.btn-outlined {
    border-radius: 0.2rem;
    border: 1px solid map-get($color, 5);
    padding: 0.4rem 0.8rem;
    background-color: transparent;
    color: map-get($color, 5);
    &:hover {
        background-color: map-get($color, 2);
        cursor: pointer;
    }
    &:focus {
        background-color: map-get($color, 3);
    }

    @include media() {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        box-sizing: border-box;
    }
}

.grid-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    box-sizing: border-box;
}

.span-2 {
    grid-column: span 2;
}

.balance {
    border-radius: 0.4rem;
    min-height: 12rem;
    min-width: 10rem;
    padding: 1rem;
    line-height: 2rem;
    display: grid;
    align-content: center;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition-property: all;
    transition-duration: 1s;
    // animation-duration: 700 ms;
    h4 {
        color: map-get($color, 2);
        font-weight: normal;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        align-content: center;
        height: 100%;
        align-self: center;
        box-sizing: border-box;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    @include media() {
        min-width: auto;
        padding: 0.5rem 1rem;
        backdrop-filter: unset;
        background: rgba(255, 255, 255, 0.6);
        flex-wrap: wrap;
        box-sizing: border-box;

        &:hover {
            background: rgba(255, 255, 255, 0.8);
        }
    }
}

.hero {
    background-color: map-get($color, 3);
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    background-image: url('./assets/seamless-grainy-texture-background_1409-2115.jpg');
    background-blend-mode: darken;
    box-sizing: border-box;

    span {
        font-weight: normal;
        color: map-get($color, 1);
    }

    @include media(map-get($screen, md)) {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 1rem;
        width: 100vw;
        background-image: none;
        box-sizing: border-box;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;

    @include media {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
}

thead {
    text-align: left;

    @include media {
        display: none;
        box-sizing: border-box;
    }
}

tbody {
    width: auto;
    @include media {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
}

tr {
    border: 1px solid map-get($color, 4);
    border-radius: 1rem;
    transition-property: all;
    transition-duration: 300ms;
    &:nth-child(even) {
        background-color: map-get($color, 2);
    }

    &:hover:not(.heading) {
        background-color: map-get($color, 3);
    }

    @include media() {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        height: auto;
        position: relative;
        width: 100%;
        border: 2px solid map-get($color, 4);
        box-sizing: border-box;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

td,
th {
    padding: 1rem 0.6rem;
    text-align: right;
    box-sizing: border-box;

    @include media {
        padding: 0.3rem 0.6rem;
        &:before {
            content: attr(data-label);
            position: absolute;
            left: 1rem;
            font-weight: bold;
        }

        &.row {
            background-color: #17252a;
        }

        border-bottom: 1px solid map-get($color, 4);
        width: 100%;
        // &:not(:last-child) {
        //     margin-bottom: 1rem;
        // }
    }
}

.actions {
    padding: 0.2rem;
    border-radius: 0.2rem;
    text-decoration: none;
    color: map-get($color, 5);
    &:hover {
        cursor: pointer;
        background-color: map-get($color, 2);
    }
}

.btn2 {
    background-color: map-get($color, 3);
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    color: black;

    &:hover {
        background-color: map-get($color, 5);
        color: map-get($color, 1);
        cursor: pointer;
    }

    &.mod {
        background-color: map-get($color, 1);
        &:hover {
            background-color: map-get($color, 4);
        }
    }

    @include media() {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        box-sizing: border-box;
    }
}

.btn3 {
    background-color: transparent;
    border: 1px solid map-get($color, 4);
    padding: 0.4rem;
    border-radius: 0.2rem;

    &:hover {
        background-color: map-get($color, 4);
        cursor: pointer;
    }

    @include media() {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        box-sizing: border-box;
    }
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.92);
    z-index: 99;
    box-sizing: border-box;

    &.sidebar {
        width: auto;
        padding: 0 2rem;
    }

    @include media {
        padding: 0 1rem;
        box-sizing: border-box;
    }
}

.column {
    display: grid;
    justify-items: start;
    gap: 1rem;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: map-get($color, 4);
    display: flex;
    margin: 1rem;
    padding: 0.4rem;
    border-radius: 0.2rem;

    i {
        color: map-get($color, 1);
    }

    &:hover {
        background-color: #17252a;
        cursor: pointer;
    }

    @include media() {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
        box-sizing: border-box;
    }
}

.login-form {
    background-color: map-get($color, 1);
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: flex-start;
    margin: 2rem 2rem;
    gap: 0.4rem;
    border-radius: 0.2rem;
    padding: 2.4rem 2rem;

    h2 {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border-bottom: 1px solid map-get($color, 2);
    }

    label {
        align-self: flex-start;
        font-size: 1.6rem;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    a,
    p {
        font-size: 1rem;
        padding-top: 0.4rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.4rem;
        }
    }

    @include media {
        width: 90%;
        box-sizing: border-box;

        h2 {
            font-size: 2rem;
        }
    }
}

.auth {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;

    @include media() {
        width: 100%;
        padding: 4rem 0;
        box-sizing: border-box;
    }
}

.present {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    i {
        font-size: 4rem;
        color: map-get($color, 4);
    }

    @include media() {
        display: none;
        box-sizing: border-box;
    }
}

.sign-up {
    background-color: map-get($color, 4);
}

.signout-modal {
    position: absolute;
    top: 0;
    right: 1rem;
    margin: 2rem 0;
    z-index: 10;
    padding: 1rem;
    background-color: map-get($color, 1);
    border-radius: 0.6rem;
    width: 100%;
    & div {
        @include flex(column, center, center, 1rem);
    }

    &.btn {
        z-index: 999;
    }
}

.card-amount {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    color: map-get($color, 5);
    border: 1px solid map-get($color, 5);
    border-radius: 0.4rem;

    &:hover {
        background-color: map-get($color, 3);
    }

    h4 {
        color: map-get($color, 5);
        padding-top: 0.4rem;
    }

    h2 {
        padding-top: 0.4rem;
        border-top: 1px solid map-get($color, 5);
        width: 100%;
    }

    &.mod {
        background-color: map-get($color, 2);
        &:hover {
            background-color: map-get($color, 1);
        }
    }

    @include media {
        width: auto;

        h4 {
            padding: 0 1rem;
            box-sizing: border-box;
        }
    }
}

.update-input {
    box-sizing: border-box;
    margin-bottom: 0.8rem;
    width: 7.2rem;
    border: 1px solid map-get($color, 5);
}

.link {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    padding: 0.4rem 0.8rem;
    background-color: map-get($color, 1);
    border-radius: 0.2rem;
    cursor: pointer;

    &:hover {
        background-color: map-get($color, 2);
    }
}

.flex-center {
    @include flex(row, center, center, 0);
}

.float-nav {
    position: absolute;
    width: 100%;
    padding: 1rem 0;
}
